{% extends "layout/master.twig" %}

{% block title %}Producto{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}
{% block body_id %}productOverview{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div class="container" id="breadcrumb">
            <ol>
                <li><a href="/ledsc4/es.html">Inicio</a></li>
                <li>&gt;</li>
                <li><span class="active-page">¿Quiénes Somos?</span></li>
            </ol>
        </div> <!-- end breadcrumb -->


        <!-- page title -->
        <div class="container pageTitle">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>¿Quiénes Somos?</h1>
                </div>
            </div>    <!-- /row -->
        </div>    <!-- /container -->

        <!-- section 1 -->
        <div id="section_1">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane active">
                                <div class="row">

                                    <!-- column left !-->
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 results-col">
                                        <div class="row highlights-new">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <!-- item news-events -->

                                                <!-- descktop content -->
                                                <div>
                                                    <a href="">
                                                        <div>
                                                            <img class="img-responsive center-block"
                                                                 src="{{ public.IMG }}/quienes_somos.jpg"
                                                                 alt=""
                                                                 title="">
                                                        </div>


                                                    </a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>    <!-- /column right results -->

                                    <!-- column right results -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                            <div class="project_detail">
                                                <p>
                                                    Somos una empresa 100% Mexicana con 40 años de experiencia
                                                    trabajando para satisfacer las necesidades de nuestros clientes en
                                                    el mercado eléctrico, a través de productos especializados y el más
                                                    completo servicio para el desarrollo de proyectos de iluminación
                                                    integrales.
                                                    <br>
                                                    <br>
                                                    Actualmente somos la empresa más importante de este sector en Puebla
                                                    y otras ciudades de la República, generando proyectos innovadores de
                                                    primera calidad para instituciones públicas y privadas: Hoteles,
                                                    Restaurantes, Universidades, Parques Industriales, Bancos, entre
                                                    otros.
                                                    <br>
                                                    <br>
                                                    Diseñamos proyectos a la medida de nuestros clientes, integrando un
                                                    completo entendimiento de sus necesidades, el espacio, la luz y su
                                                    entorno.
                                                </p>

                                                <div style="float:right; margin-top:10px;">
                                                    Por esta razón <font
                                                            style="font-weight:bold; font-size:18px; color:#29c5b5">"no
                                                        alumbramos, Iluminamos"</font>
                                                </div>
                                                <br>
                                                <br>
                                                <h3>MISIÓN</h3>

                                                <p>
                                                    Satisfacer las necesidades de nuestros clientes a través de
                                                    proyectos de iluminación óptimos, con productos de la mejor calidad
                                                    acompañados siempre de una asesoría profesional completa y atención
                                                    personalizada para lograr el mejor balance entre el precio justo,
                                                    entrega oportuna y excelente servicio.
                                                </p>

                                                <h3>VISIÓN</h3>

                                                <p>
                                                    Diseñar espacios con Iluminación sustentable que contemplen la mejor
                                                    tecnología para reducir el consumo de energía e integrar la luz de
                                                    día para crear un ambiente visualmente confortable, dinámico y
                                                    ergonómico que permita despertar sensaciones al mismo tiempo que
                                                    reduce el impacto ambiental.
                                                </p>

                                                <h3>VALORES</h3>
                                                <p>
                                                    Generamos propuestas innovadoras que permitan a nuestros clientes
                                                    obtener ahorros a corto, mediano y largo plazo; ofreciendo un óptimo
                                                    balance entre la luz, la infraestructura y el entorno bajo un
                                                    esquema de sustentabilidad y ecología.
                                                </p>
                                            </div>
                                        </div>
                                    </div>    <!-- /column left selectors -->

                                </div>    <!-- /row -->

                            </div>


                        </div>
                    </div>
                </div>    <!-- /row -->
            </div>    <!-- /container -->

        </div>    <!-- /.text -->
    </div>
{% endblock %}