{% extends "layout/master.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="includes/public/js/custom/camera.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid wide-content">
        <!-- section 1 component carousel top -->
        <div id="carrusel" class="carousel slide" data-ride="carousel" data-timer="5000" style="padding-top: 95px;">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                <li data-target="#carrusel" data-slide-to="1"></li>
                <li data-target="#carrusel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill"
                         style="background: transparent url('includes/public/img/banner/1.jpg') no-repeat scroll center top / cover ; height:534px; "></div>
                    <div class="carousel-caption">
                        <h2>Caption 1</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill"
                         style="background: transparent url('includes/public/img/banner/2.jpg') no-repeat scroll center top / cover ; height:534px; "></div>
                    <div class="carousel-caption">
                        <h2>Caption 2</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill"
                         style="background: transparent url('includes/public/img/banner/3.jpg') no-repeat scroll center top / cover ; height:534px; "></div>
                    <div class="carousel-caption">
                        <h2>Caption 3</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#section_1" role="button" data-slide="prev" style="top: 447px;">
                <span class="arrowLeft"></span>
                <span class="counterItems counterLeft">2 / 5</span>
            </a>
            <a class="right carousel-control" href="#section_1" role="button" data-slide="next" style="top: 447px;">
                <span class="arrowRight"></span>
                <span class="counterItems counterRight">2 / 5</span>
            </a>

        </div>

        <div id="section_2" class="container highlights-new">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <h2 class="highlightsTitle">Productos</h2>

                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                            <!-- descktop content -->
                            <div class="item-highlights-new">
                                <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                    <div class="content-image">
                                        <img class="img-responsive center-block"
                                             src="includes/public/img/productos/1.jpg"
                                             alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             style="height: 225px;">
                                    </div>


                                </a>
                                <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Tnm Dona</a>
                            </span>


                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                            <!-- descktop content -->
                            <div class="item-highlights-new">
                                <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                    <div class="content-image">
                                        <img class="img-responsive center-block"
                                             src="includes/public/img/productos/2.jpg"
                                             alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             style="height: 225px;">
                                    </div>


                                </a>
                                <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Ttt 2</a>
                            </span>

                            </div>

                            <!-- mobile content -->


                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                            <!-- descktop content -->
                            <div class="item-highlights-new">
                                <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                    <div class="content-image">
                                        <img class="img-responsive center-block"
                                             src="includes/public/img/productos/3.jpg"
                                             alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             style="height: 225px;">
                                    </div>


                                </a>
                                <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                            <!-- descktop content -->
                            <div class="item-highlights-new">
                                <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                    <div class="content-image">
                                        <img class="img-responsive center-block"
                                             src="includes/public/img/productos/4.jpg"
                                             alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             style="height: 225px;">
                                    </div>


                                </a>
                                <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                            <!-- descktop content -->
                            <div class="item-highlights-new">
                                <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                    <div class="content-image">
                                        <img class="img-responsive center-block"
                                             src="includes/public/img/productos/5.jpg"
                                             alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             style="height: 225px;">
                                    </div>


                                </a>
                                <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                            <!-- descktop content -->
                            <div class="item-highlights-new">
                                <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                    <div class="content-image">
                                        <img class="img-responsive center-block"
                                             src="includes/public/img/productos/6.png"
                                             alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                             style="height: 225px;">
                                    </div>


                                </a>
                                <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                            </div>

                        </div>

                    </div>    <!-- /row -->

                </div>    <!-- /col -->
            </div>    <!-- /row -->
        </div>

    </div>
{% endblock %}