<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Iluminamos</title>

    <link rel="stylesheet" type="text/css" href="includes/public/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="includes/public/css/style.css" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="includes/public/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="includes/public/js/custom/menu.js" type="text/javascript"></script>

    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="includes/public/js/custom/camera.js" type="text/javascript"></script>

</head>

<body id="home" class="col-subcol">
<!-- Fixed navbar -->
<div id="header" class="navbar navbar-default navbar-fixed-top new-header-mobile" role="navigation">

    <div class="container logoMenuBlock" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Iluminamos"/>
        <div class="navbar-header">
            <!-- logo brand -->
            <a class="navbar-brand" href="/" itemprop="url">
                <img itemprop="logo" alt="Iluminamos" title="Iluminamos"
                     src="includes/public/img/logo.png" width="245px"/>
                <span>Iluminamos</span>
            </a>

            <!-- button menu -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- mobile search -->
            <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-block-v2">
                <div class="icon-40x40-search-mobile-black"><span>Search</span></div>
            </a>

        </div>

        <div id="menuOptions" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right secondaryOptions">
                <li class="searchButton"><a href="#" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#search-block-v2">Buscar</a></li>
            </ul>

            <div class="social">
                <a id="twitter" target="_blank" href="https://twitter.com/iluminamos"></a>

                <a id="face" target="_blank" href=" https://www.facebook.com/pages/Iluminamos/200293543351840"></a>

                <a id="insta" target="_blank" href="https://www.instagram.com/iluminamos"></a>

                <a id="pinte" target="_blank" href="https://www.pinterest.com/iluminamos"></a>
            </div>

            <div class="nav-area">
                <div class="nav-bottom">
                    <ul>
                        <li id="limenu_1" style="width:145px;">
                            <a href="javascript:void(0);">Módulos de LED</a>
                            <div class="dd-area" id="dd-area1" style="display:none;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="left-area">
                                            <div id="ctl00_Main_ucHeaderContent_DesktopIndoorCategorySubMenu"
                                                 style="float: left;">
                                                <ul>
                                                    <li><a href=''
                                                           style="font-size:11px;">Chandelier<img
                                                                    src='includes/public/img/productos/7.jpg'
                                                                    alt='' style="width:116px;"/></a></li>
                                                    <li><a href=''
                                                           style="font-size:11px;">Pendant<img
                                                                    src='includes/public/img/productos/8.jpg'
                                                                    alt='' style="width:116px;"/></a></li>
                                                    <li><a href=''
                                                           style="font-size:11px;">Flush Mount<img
                                                                    src='includes/public/img/productos/9.jpg'
                                                                    alt='Flush Mount' style="width:116px;"/></a></li>
                                                    <li>
                                                        <a href=''
                                                           style="font-size:11px;">Wall<img
                                                                    src='includes/public/img/productos/10.jpg'
                                                                    alt='Wall' style="width:116px;"/></a></li>
                                                    <li><a href='' style="font-size:11px;">Energy
                                                            Efficient<img
                                                                    src='includes/public/img/productos/11.jpg'
                                                                    alt='Energy Efficient' style="width:116px;"/></a>
                                                    </li>
                                                    <li class='no-margin'><a
                                                                href=''
                                                                style="font-size:11px;">Lamp<img
                                                                    src='includes/public/img/productos/2.jpg'
                                                                    alt='Lamp' style="width:116px;"/></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="limenu_2" style="width:155px;">
                            <a href="javascript:void(0);">PROYECTOS</a>
                            <!-- <a href="/outdoor-lighting/collections">OUTDOOR LIGHTING</a> -->
                            <div class="dd-area" id="dd-area2" style="display:none;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="left-area">
                                            <div id="ctl00_Main_ucHeaderContent_DesktopOutdoorCategorySubMenu"
                                                 style="float: left; width:100%;">
                                                <ul>
                                                    <li><a href='/category/outdoor-lighting/outdoor-wall-mount'>Wall
                                                            Mount<img
                                                                    src='includes/public/img/productos///Outdoor-Wall-Mount.jpg'
                                                                    alt='Wall Mount'/></a></li>
                                                    <li><a href='/category/outdoor-lighting/outdoor-pathway-light'>Pathway
                                                            Light<img
                                                                    src='includes/public/img/productos///Outdoor-Pathway-light.jpg'
                                                                    alt='Pathway Light'/></a></li>
                                                </ul>
                                            </div>
                                            <div class="below"><a href="/outdoor-lighting/collections"
                                                                  class="browse-link">Browse All Collections</a></div>
                                        </div>
                                        <div class="right-area">
                                            <span>Featured Collections</span>
                                            <div id="ctl00_Main_ucHeaderContent_DesktopOutdoorCategoryCollection">
                                                <ul>
                                                    <li>
                                                        <a href='http://www.et2online.com/indoor-lighting/collection/alumilux al'><img
                                                                    src='/Upload/menu_collection/FeaturedOutdoor_Alumilux AL.jpg'
                                                                    alt='Alumilux Collection'/><span>Alumilux Collection</span></a>
                                                    </li>
                                                    <li class='no-margin'><a
                                                                href='http://www.et2online.com/outdoor-lighting/collection/inca'><img
                                                                    src='/Upload/menu_collection/E21333-61BZ.jpg'
                                                                    alt='Inca Collection'/><span>Inca<br/>Collection</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="width:70px;"><a href="/trade">TRADE</a></li>
                        <li id="limenu_4" style="width:170px;">
                            <!--<a href="/resources-and-tools">RESOURCES &amp; TOOLS</a> -->
                            <a href="javascript:void(0);">RESOURCES &amp; TOOLS</a>
                            <div class="dd-area" id="dd-area4" style="display:none; height:300px;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="dd-resource-area">
                                            <ul>
                                                <li>
                                                    <div><a href="/resources-and-tools">BUYER'S GUIDES <br/>&
                                                            CONFIGURATORS</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/catalog-request">CATALOG</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/bulb-reference">BULB REFERENCE</a></div>
                                                </li>
                                                <li class="no-margin">
                                                    <div><a href="/glossary">LIGHTING GLOSSARY</a></div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <div><a href="/order-part">REPLACEMENT PARTS</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/image-gallery">IMAGE GALLERY</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/finish-samples">FINISH SAMPLES</a></div>
                                                </li>
                                                <li class="no-margin">
                                                    <div><a href="/dallas-showroom">DALLAS SHOWROOM</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="width:109px;"><a href="/contact-us">CONTACT US</a></li>
                    </ul>
                </div>
            </div>


        </div>    <!--/.nav-collapse -->
    </div>    <!-- /.container -->
</div>    <!-- /header -->

<div class="container-fluid wide-content">
    <!-- section 1 component carousel top -->
    <div id="carrusel" class="carousel slide" data-ride="carousel" data-timer="5000" style="padding-top: 95px;">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carrusel" data-slide-to="0" class="active"></li>
            <li data-target="#carrusel" data-slide-to="1"></li>
            <li data-target="#carrusel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill"
                     style="background: transparent url('includes/public/img/banner/1.jpg') no-repeat scroll center top / cover ; height:534px; "></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill"
                     style="background: transparent url('includes/public/img/banner/2.jpg') no-repeat scroll center top / cover ; height:534px; "></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill"
                     style="background: transparent url('includes/public/img/banner/3.jpg') no-repeat scroll center top / cover ; height:534px; "></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#section_1" role="button" data-slide="prev" style="top: 447px;">
            <span class="arrowLeft"></span>
            <span class="counterItems counterLeft">2 / 5</span>
        </a>
        <a class="right carousel-control" href="#section_1" role="button" data-slide="next" style="top: 447px;">
            <span class="arrowRight"></span>
            <span class="counterItems counterRight">2 / 5</span>
        </a>

    </div>

    <div id="section_2" class="container highlights-new">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h2 class="highlightsTitle">Productos</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                        <!-- descktop content -->
                        <div class="item-highlights-new">
                            <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                <div class="content-image">
                                    <img class="img-responsive center-block"
                                         src="includes/public/img/productos/1.jpg"
                                         alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         style="height: 225px;">
                                </div>


                            </a>
                            <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Tnm Dona</a>
                            </span>


                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                        <!-- descktop content -->
                        <div class="item-highlights-new">
                            <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                <div class="content-image">
                                    <img class="img-responsive center-block"
                                         src="includes/public/img/productos/2.jpg"
                                         alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         style="height: 225px;">
                                </div>


                            </a>
                            <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Ttt 2</a>
                            </span>

                        </div>

                        <!-- mobile content -->


                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                        <!-- descktop content -->
                        <div class="item-highlights-new">
                            <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                <div class="content-image">
                                    <img class="img-responsive center-block"
                                         src="includes/public/img/productos/3.jpg"
                                         alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         style="height: 225px;">
                                </div>


                            </a>
                            <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                        <!-- descktop content -->
                        <div class="item-highlights-new">
                            <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                <div class="content-image">
                                    <img class="img-responsive center-block"
                                         src="includes/public/img/productos/4.jpg"
                                         alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         style="height: 225px;">
                                </div>


                            </a>
                            <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                        <!-- descktop content -->
                        <div class="item-highlights-new">
                            <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                <div class="content-image">
                                    <img class="img-responsive center-block"
                                         src="includes/public/img/productos/5.jpg"
                                         alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         style="height: 225px;">
                                </div>


                            </a>
                            <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">    <!-- item news-events -->

                        <!-- descktop content -->
                        <div class="item-highlights-new">
                            <a href="/ledsc4/es/leds-c4/news/news-detail-29.html">
                                <div class="content-image">
                                    <img class="img-responsive center-block"
                                         src="includes/public/img/productos/6.png"
                                         alt="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         title="LEDS-C4 participa en la renovación del Hotel Fairmont Rey Juan Carlos I"
                                         style="height: 225px;">
                                </div>


                            </a>
                            <span class="product-name">
									<a href="/product/indoor-lighting/pendants/Scepter-10-Light-Pendant/E32779_91BC">Pulpo 10</a>
                            </span>


                        </div>

                    </div>

                </div>    <!-- /row -->

            </div>    <!-- /col -->
        </div>    <!-- /row -->
    </div>

</div>    <!-- /.container-fluid page -->
<!-- sticky footer -->
<div class="footer">
    <div class="container-fluid contentFooter">
        <div class="container">

            <!-- footer menu -->
            <div class="row">
                <div class="col-md-12 menu-footer">
                    <ul class="nav nav-pills nav-justified">

                        <li class="active"><a href="/ledsc4/en.html">Home</a></li>


                        <li><a href="/ledsc4/en/leds-c4/privacy-policy.html">Privacy Policy</a></li>


                        <li><a href="/ledsc4/en/leds-c4/terms-and-conditions.html">TERMS OF USE</a></li>


                        <li><a href="/ledsc4/en/leds-c4/sitemap.html">Site Map</a></li>


                        <li><a href="/ledsc4/en/leds-c4/policy-cookies.html">Policy About Cookies</a></li>


                        <li><a href="/ledsc4/en/contact.html">Contact</a></li>


                    </ul>
                </div>
            </div>    <!-- /.row -->
        </div>    <!-- /.container -->
    </div>    <!-- /.contentFooter -->
</div>    <!-- /.footer -->


</body>
</html>

<!--
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %} - Iluminamos</title>
        <link rel="stylesheet" type="text/css" href="includes/public/css/bootstrap.css" media="all">
        <link rel="stylesheet" type="text/css" href="includes/public/css/style.css" media="all">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="includes/public/js/bootstrap.min.js" type="text/javascript"></script>

        <script src="includes/public/js/custom/menu.js" type="text/javascript"></script>

        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    {% endblock %}
</head>
<body id="home" class="col-subcol">

<div id="header" class="navbar navbar-default navbar-fixed-top new-header-mobile" role="navigation">

    <div class="container logoMenuBlock" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Iluminamos"/>
        <div class="navbar-header">

            <a class="navbar-brand" href="/" itemprop="url">
                <img itemprop="logo" alt="Iluminamos" title="Iluminamos"
                     src="includes/public/img/logo.png" width="245px"/>
                <span>Iluminamos</span>
            </a>


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-block-v2">
                <div class="icon-40x40-search-mobile-black"><span>Search</span></div>
            </a>

        </div>

        <div id="menuOptions" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right secondaryOptions">
                <li class="searchButton"><a href="#" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#search-block-v2">Buscar</a></li>
            </ul>

            <div class="social">
                <a id="twitter" target="_blank" href="https://twitter.com/iluminamos"></a>

                <a id="face" target="_blank" href=" https://www.facebook.com/pages/Iluminamos/200293543351840"></a>

                <a id="insta" target="_blank" href="https://www.instagram.com/iluminamos"></a>

                <a id="pinte" target="_blank" href="https://www.pinterest.com/iluminamos"></a>
            </div>

            <div class="nav-area">
                <div class="nav-bottom">
                    <ul>
                        <li id="limenu_1" style="width:145px;">
                            <a href="javascript:void(0);">Módulos de LED</a>
                            <div class="dd-area" id="dd-area1" style="display:none;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="left-area">
                                            <div id="ctl00_Main_ucHeaderContent_DesktopIndoorCategorySubMenu"
                                                 style="float: left;">
                                                <ul>
                                                    <li><a href=''
                                                           style="font-size:11px;">Chandelier<img
                                                                    src='includes/public/img/productos/7.jpg'
                                                                    alt='' style="width:116px;"/></a></li>
                                                    <li><a href=''
                                                           style="font-size:11px;">Pendant<img
                                                                    src='includes/public/img/productos/8.jpg'
                                                                    alt='' style="width:116px;"/></a></li>
                                                    <li><a href=''
                                                           style="font-size:11px;">Flush Mount<img
                                                                    src='includes/public/img/productos/9.jpg'
                                                                    alt='Flush Mount' style="width:116px;"/></a></li>
                                                    <li>
                                                        <a href=''
                                                           style="font-size:11px;">Wall<img
                                                                    src='includes/public/img/productos/10.jpg'
                                                                    alt='Wall' style="width:116px;"/></a></li>
                                                    <li><a href='' style="font-size:11px;">Energy
                                                            Efficient<img
                                                                    src='includes/public/img/productos/11.jpg'
                                                                    alt='Energy Efficient' style="width:116px;"/></a>
                                                    </li>
                                                    <li class='no-margin'><a
                                                                href=''
                                                                style="font-size:11px;">Lamp<img
                                                                    src='includes/public/img/productos/2.jpg'
                                                                    alt='Lamp' style="width:116px;"/></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="limenu_2" style="width:155px;">
                            <a href="javascript:void(0);">PROYECTOS</a>

                            <div class="dd-area" id="dd-area2" style="display:none;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="left-area">
                                            <div id="ctl00_Main_ucHeaderContent_DesktopOutdoorCategorySubMenu"
                                                 style="float: left; width:100%;">
                                                <ul>
                                                    <li><a href='/category/outdoor-lighting/outdoor-wall-mount'>Wall
                                                            Mount<img
                                                                    src='includes/public/img/productos///Outdoor-Wall-Mount.jpg'
                                                                    alt='Wall Mount'/></a></li>
                                                    <li><a href='/category/outdoor-lighting/outdoor-pathway-light'>Pathway
                                                            Light<img
                                                                    src='includes/public/img/productos///Outdoor-Pathway-light.jpg'
                                                                    alt='Pathway Light'/></a></li>
                                                </ul>
                                            </div>
                                            <div class="below"><a href="/outdoor-lighting/collections"
                                                                  class="browse-link">Browse All Collections</a></div>
                                        </div>
                                        <div class="right-area">
                                            <span>Featured Collections</span>
                                            <div id="ctl00_Main_ucHeaderContent_DesktopOutdoorCategoryCollection">
                                                <ul>
                                                    <li>
                                                        <a href='http://www.et2online.com/indoor-lighting/collection/alumilux al'><img
                                                                    src='/Upload/menu_collection/FeaturedOutdoor_Alumilux AL.jpg'
                                                                    alt='Alumilux Collection'/><span>Alumilux Collection</span></a>
                                                    </li>
                                                    <li class='no-margin'><a
                                                                href='http://www.et2online.com/outdoor-lighting/collection/inca'><img
                                                                    src='/Upload/menu_collection/E21333-61BZ.jpg'
                                                                    alt='Inca Collection'/><span>Inca<br/>Collection</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="width:70px;"><a href="/trade">TRADE</a></li>
                        <li id="limenu_4" style="width:170px;">

                            <a href="javascript:void(0);">RESOURCES &amp; TOOLS</a>
                            <div class="dd-area" id="dd-area4" style="display:none; height:300px;">
                                <div class="wrapper">
                                    <div class="dd-inner">
                                        <div class="dd-resource-area">
                                            <ul>
                                                <li>
                                                    <div><a href="/resources-and-tools">BUYER'S GUIDES <br/>&
                                                            CONFIGURATORS</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/catalog-request">CATALOG</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/bulb-reference">BULB REFERENCE</a></div>
                                                </li>
                                                <li class="no-margin">
                                                    <div><a href="/glossary">LIGHTING GLOSSARY</a></div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <div><a href="/order-part">REPLACEMENT PARTS</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/image-gallery">IMAGE GALLERY</a></div>
                                                </li>
                                                <li>
                                                    <div><a href="/finish-samples">FINISH SAMPLES</a></div>
                                                </li>
                                                <li class="no-margin">
                                                    <div><a href="/dallas-showroom">DALLAS SHOWROOM</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="width:109px;"><a href="/contact-us">CONTACT US</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

{% block content %}{% endblock %}

<div class="footer">
    <div class="container-fluid contentFooter">
        <div class="container">


<div class="row">
    <div class="col-md-12 menu-footer">
        <ul class="nav nav-pills nav-justified">

            <li class="active"><a href="/ledsc4/en.html">Home</a></li>


            <li><a href="/ledsc4/en/leds-c4/privacy-policy.html">Privacy Policy</a></li>


            <li><a href="/ledsc4/en/leds-c4/terms-and-conditions.html">TERMS OF USE</a></li>


            <li><a href="/ledsc4/en/leds-c4/sitemap.html">Site Map</a></li>


            <li><a href="/ledsc4/en/leds-c4/policy-cookies.html">Policy About Cookies</a></li>


            <li><a href="/ledsc4/en/contact.html">Contact</a></li>


        </ul>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>

!-->